.actions-bar {
  padding: 10px;
  width: -webkit-fill-available;
  justify-content: flex-end;
  gap: 10px;
}

.action-button {
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 18px;
  transition: 0.2s ease-in-out;
  color: white;
}

.send-button:hover {
  background-color: #4caf50;
  /* color: black; */
  border: none;
}

.send-icon {
  width: 17px;
  padding-right: 5px;
}
